<h1>Table#input</h1>
<p>Find me in app/views/table/input.html.erb</p>
<%= form_tag("/table/view_one", :method => "get") do %>
  <%= label_tag("Input name:") %>
  <%= text_field_tag(:name) %>
  <%= label_tag("Input profession:") %>
  <%= text_field_tag(:prof) %>
  <%= label_tag("Input day:") %>
  <%= text_field_tag(:day) %>
  <%= label_tag("Input time:") %>
  <%= text_field_tag(:time) %>
  <%= label_tag("Input cabinet:") %>
  <%= text_field_tag(:cab) %>
  <br/>
  <%= submit_tag("Output result") %>
<% end %>
<%= form_tag("/table/cached", :method => "get") do %>
  <%= submit_tag("Output cache") %>
<% end %>
<br/>
<%= form_tag("/table/view_two", :method => "get") do %>
  <%= submit_tag("Output cache") %>
<% end %>
<%= form_tag("/table/view_tree", :method => "get") do %>
  <%= submit_tag("Output cache") %>
<% end %>