<h1>Table#view_one</h1>
<p>Find me in app/views/table/view_one.html.erb</p>

<table border="2">
  <th colspan="5">Mon</th>
  <tr><td>Name</td><td>Profession</td><td>Time</td><td>Cabinet</td><td></td></tr>
  <% unless @id_mon.nil?%>
    <% @id_mon.each do |elem| %>
      <tr>
        <td><%=elem.second%></td>
        <td><%=elem.third %></td>
        <td><%=elem.first %></td>
        <td><%=elem.fourth %></td>
        <%if elem.fifth!=-1 and elem.fifth!=-2 %>
          <td>
            <%= form_tag("/table/view_two", :method => "get") do %>
              <%= hidden_field_tag(:res,"#{elem.fifth}") %>
              <%= submit_tag(value ="Зарегистрироваться") %>
            <% end %>
          </td>
        <% end %>
        <%if elem.fifth==-1 %>
          <td>Recording is not available</td>
        <%end %>
        <%if elem.fifth==-2 %>
          <td>Yua are in admin mood</td>
        <%end %>
      </tr>
    <%end %>
  <%end %>
</table>
</br>
<table border="2">
  <th colspan="5">Tue</th>
  <tr><td>Name</td><td>Profession</td><td>Time</td><td>Cabinet</td><td></td></tr>
  <% unless @id_tue.nil?%>
    <% @id_tue.each do |elem| %>
      <tr>
        <td><%=elem.second%></td>
        <td><%=elem.third %></td>
        <td><%=elem.first %></td>
        <td><%=elem.fourth %></td>
        <%if elem.fifth!=-1 and elem.fifth!=-2 %>
          <td>
            <%= form_tag("/table/view_two", :method => "get") do %>
              <%= hidden_field_tag(:res,"#{elem.fifth}") %>
              <%= submit_tag(value ="Зарегистрироваться") %>
            <% end %>
          </td>
        <% end %>
        <%if elem.fifth==-1 %>
          <td>Recording is not available</td>
        <%end %>
        <%if elem.fifth==-2 %>
          <td>Yua are in admin mood</td>
        <%end %>
      </tr>
    <%end %>
  <%end %>
</table>
</br>
<table border="2">
  <th colspan="5">Wed</th>
  <tr><td>Name</td><td>Profession</td><td>Time</td><td>Cabinet</td><td></td></tr>
  <% unless @id_wed.nil?%>
    <% @id_wed.each do |elem| %>
      <tr>
        <td><%=elem.second%></td>
        <td><%=elem.third %></td>
        <td><%=elem.first %></td>
        <td><%=elem.fourth %></td>
        <%if elem.fifth!=-1 and elem.fifth!=-2 %>
          <td>
            <%= form_tag("/table/view_two", :method => "get") do %>
              <%= hidden_field_tag(:res,"#{elem.fifth}") %>
              <%= submit_tag(value ="Зарегистрироваться") %>
            <% end %>
          </td>
        <% end %>
        <%if elem.fifth==-1 %>
          <td>Recording is not available</td>
        <%end %>
        <%if elem.fifth==-2 %>
          <td>Yua are in admin mood</td>
        <%end %>
      </tr>
    <%end %>
  <%end %>
</table>
</br>
<table border="2">
  <th colspan="5">Thu</th>
  <tr><td>Name</td><td>Profession</td><td>Time</td><td>Cabinet</td><td></td></tr>
  <% unless @id_thu.nil?%>
    <% @id_thu.each do |elem| %>
      <tr>
        <td><%=elem.second%></td>
        <td><%=elem.third %></td>
        <td><%=elem.first %></td>
        <td><%=elem.fourth %></td>
        <%if elem.fifth!=-1 and elem.fifth!=-2 %>
          <td>
            <%= form_tag("/table/view_two", :method => "get") do %>
              <%= hidden_field_tag(:res,"#{elem.fifth}") %>
              <%= submit_tag(value ="Зарегистрироваться") %>
            <% end %>
          </td>
        <% end %>
        <%if elem.fifth==-1 %>
          <td>Recording is not available</td>
        <%end %>
        <%if elem.fifth==-2 %>
          <td>Yua are in admin mood</td>
        <%end %>
      </tr>
    <%end %>
  <%end %>
</table>
</br>
<table border="2">
  <th colspan="5">Fri</th>
  <tr><td>Name</td><td>Profession</td><td>Time</td><td>Cabinet</td><td></td></tr>
  <% unless @id_fri.nil?%>
    <% @id_fri.each do |elem| %>
      <tr>
        <td><%=elem.second%></td>
        <td><%=elem.third %></td>
        <td><%=elem.first %></td>
        <td><%=elem.fourth %></td>
        <%if elem.fifth!=-1 and elem.fifth!=-2 %>
          <td>
            <%= form_tag("/table/view_two", :method => "get") do %>
              <%= hidden_field_tag(:res,"#{elem.fifth}") %>
              <%= submit_tag(value ="Зарегистрироваться") %>
            <% end %>
          </td>
        <% end %>
        <%if elem.fifth==-1 %>
          <td>Recording is not available</td>
        <%end %>
        <%if elem.fifth==-2 %>
          <td>Yua are in admin mood</td>
        <%end %>
      </tr>
    <%end %>
  <%end %>
</table>
</br>
<table border="2">
  <th colspan="5">Sat</th>
  <tr><td>Name</td><td>Profession</td><td>Time</td><td>Cabinet</td><td></td></tr>
  <% unless @id_sat.nil?%>
    <% @id_sat.each do |elem| %>
      <tr>
        <td><%=elem.second%></td>
        <td><%=elem.third %></td>
        <td><%=elem.first %></td>
        <td><%=elem.fourth %></td>
        <%if elem.fifth!=-1 and elem.fifth!=-2 %>
          <td>
            <%= form_tag("/table/view_two", :method => "get") do %>
              <%= hidden_field_tag(:res,"#{elem.fifth}") %>
              <%= submit_tag(value ="Зарегистрироваться") %>
            <% end %>
          </td>
        <% end %>
        <%if elem.fifth==-1 %>
          <td>Recording is not available</td>
        <%end %>
        <%if elem.fifth==-2 %>
          <td>Yua are in admin mood</td>
        <%end %>
      </tr>
    <%end %>
  <%end %>
</table>
</br>
<%= link_to "Return back", :back %>


